

/* ***************  GENERAL ***************  */


html, body {
	margin:0;
	padding:0;
	font-family:'museo300';
}

a {

	text-decoration: none;
	color:white;
}

a.blue {

	color:blue;
}

.deselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noedge {

	padding:0;
	margin:0;
}

#consoleContainer {
	position:absolute;
	bottom:0;
	height:30%;
	width:100%;
	border:1px solid black;
	overflow:hidden;
}

#console {
	position:absolute;
	font-size:15px;
	bottom:0;
}

.pointer {

	cursor: pointer;
}

/* ***************  POSITIONING ***************  */


.absolute {
	position:absolute;	
}

.relative {
	position:relative;	
}

.corner {

	top:0;
	left:0;
}

.fill {
	
	top:0;
	left:0;
	width:100%;
	height:100%;		
}

.margin1 {
	
	top:1%;
	left:1%;
	width:98%;
	height:98%;	
}

.margin5 {
	
	top:3%;
	left:5%;
	width:90%;
	height:94%;	
}

.margin10 {
	
	top:10%;
	left:10%;
	width:80%;
	height:80%;		
}

.margin-h-50 {

	margin:0 50px;
}

.margin-v-50 {

	margin:50px 0;
}

.right0 {

	right:0;
}

.left0 {

	left:0;
}

.left50 {

	left:50%;
}

.top0 {

	top:0;
}

.top10 {

	top:10%;
}

.top20 {

	top:20%;
}

.top-20 {

	top:20px;
}

.bottom0 {

	bottom:0;
}

.bottom-60 {

	bottom:60px;
}

/* ***************  FONTS ***************  */


.font-bold{

	font-weight:bold;
}

.font-15 {

	font-size:15px;
}

.font-25 {

	font-size:25px;
}

.font-30 {

	font-size:30px;
}

/* ***************  FORMATS ***************  */


.rounded20 {
	
	border-radius:20px;	
}

.rounded10 {
	
	border-radius:10px;	
}

.border {
	border:1px solid black;	
}

.border-white {

	border:1px solid white;	
}

.shadow {
	box-shadow: 0 0 10px 0 #424242;	
}

.inside {
	box-shadow: 0 0 10px 0 #424242 inset;		
}

.raised {
	box-shadow: 5px 5px 10px 0 #424242;	
	z-index:100;
}



/* ***************  COLORS ***************  */



.white {

	color:white;
}

.black {

	color:black;
}

.gray {

	color:#333;
}

.white-back {
	background-color:white;	
}

.black-back {
	background-color:black;	
}

.gray-back {

	background-color:#333;
}

.transparent-back {

	background-color:transparent;
}




/* ***************  SCROLL ***************  */


.cutoff {
	overflow:hidden;	
}

.cutoffX {

	overflow-x:hidden;
}

.cutoffY {

	overflow-y:hidden;
}

.scroll {
	overflow:scroll;	
}

.scrollX {

	overflow-x:scroll;
}

.scrollY {

	overflow-y:scroll;
}



/* ***************  CENTERING ***************  */



.text-center {
    
    text-align:center;  
}

.table {
    
    display:table;
}

.table-cell {
    
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.golden {

	top: 30%;
	
	-ms-transform: translate(0, -30%);
    -webkit-transform: translate(0, -30%);
    transform: translate(0, -30%);
}

.hcenter {
    left: 50%;
    margin-right: -50%;
	
	-ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
	
   
}

.vcenter {
	top: 50%;
	
	-ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
		
}

.center {
	top:50%;
    left: 50%;
    margin-right: -50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* ***************  HEIGHTS ***************  */


.height-auto {

	height:auto;
}

.height {

	height:100%;
}

.height10 {

	height:10%;
}

.height20 {

	height:20%;
}

.height30 {

	height:30%;
}

.height40 {

	height:40%;
}

.height50 {

	height:50%;
}

.height60 {

	height:60%;
}

.height70 {

	height:70%;
}

.height80 {

	height:80%;
}


.height90 {

	height:90%;
}

.height-10 {

	height:10px;
}

.height-20 {

	height:20px;
}

.height-30 {

	height:30px;
}

.height-40 {

	height:40px;
}

.height-50 {

	height:50px;
}

.height-60 {

	height:60px;
}

.height-70 {

	height:70px;
}

.height-80 {

	height:80px;
}

.height-90 {

	height:90px;
}

.height-100 {

	height:100px;
}

.height-400 {

	height:400px;
}

.height-600 {

	height:600px;
}


/* ***************  WIDTHS ***************  */


.width-auto {

	width:auto;
}

.width {

	width:100%;
}

.width10 {

	width:10%;
}

.width20 {

	width:20%;
}

.width30 {

	width:30%;
}

.width40 {

	width:40%;
}

.width50 {

	width:50%;
}


.width60 {

	width:60%;
}

.width70 {

	width:70%;
}

.width80 {

	width:80%;
}


.width90 {

	width:90%;
}

.width200 {

	width:200%;
}

.width-10 {

	width:10px;
}

.width-20 {

	width:20px;
}

.width-30 {

	width:30px;
}

.width-40 {

	width:40px;
}

.width-50 {

	width:50px;
}

.width-60 {

	width:60px;
}

.width-70 {

	width:70px;
}

.width-80 {

	width:80px;
}

.width-90 {

	width:90px;
}

.width-100 {

	width:100px;
}

.width-300 {

	width:300px;
}

.min-width-900 {

	min-width:900px;
}

.min-width-1600 {

	min-width:1600px;
}


/* ***************  LAYERING ***************  */


.z-5 {

	z-index:5;
}


.z-10 {

	z-index:10;
}

.z-20 {

	z-index:20;
}



