

/* ***************  GENERAL ***************  */


html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	font-family:'museo300';
}

ul {

	list-style:none;
}


a {

	text-decoration: none;
	color:white;
}

a.blue {

	color:blue;
}

.deselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noedge {

	padding:0;
	margin:0;
}

.console {

	position:absolute;
	bottom:0;
	height:30%;
	width:100%;
	border:1px solid black;
	
}

#consoleContainer {
	background-color:black;
	opacity:0.7;
	z-index:190;
	overflow:hidden;
}

#consoleInner {
	opacity:1.0;
	color:white;
	font-size:15px;
	z-index:200;
	overflow:scroll;
}

.pointer {

	cursor: pointer;
}

/* ***************  POSITIONING ***************  */

.right {

	float:right;
}

.left {

	float:left;
}

.block {

	display:block;
}

.box {

	box-sizing:border-box;
}

.inline {

	display:inline-block;
}

.table {
    
    display:table;
}

.table-cell {
    
    display:table-cell;
}

.fixed {

	position:fixed;
}

.absolute {
	position:absolute;	
}

.relative {
	position:relative;	
}

.corner {

	top:0;
	left:0;
}

.fill {
	
	top:0;
	left:0;
	width:100%;
	height:100%;		
}

.inset1 {

	width:98%;
	height:98%;	
}

.inset5 {
	
	width:90%;
	height:90%;
}

.inset10 {
	
	width:80%;
	height:80%;
}

.margin-top-50 {

	margin-top:50px;
}

.margin-top-100 {

	margin-top:100px;
}

.margin-h-50 {

	margin:0 50px;
}

.margin-v-10 {

	margin:10px 0;
}

.margin-v-20 {

	margin:20px 0;
}

.margin-v-30 {

	margin:30px 0;
}

.margin-v-40 {

	margin:40px 0;
}

.margin-v-50 {

	margin:50px 0;
}

.margin-v-70 {

	margin:70px 0;
}

.margin-v-100 {

	margin:100px 0;
}

.margin-20 {

	margin:20px;
}

.margin-h-minus-50 {

	margin:0 -50px;
}

.margin-bottom-40 {

	margin-bottom:40px;
}

.padding-5 {

	padding:5px;
}

.padding-10 {

	padding:10px;
}

.padding-h-50 {

	padding:0 50px;
}

.padding-top10 {

	padding-top:10%;
}

.padding-bottom-100 {

	padding:0 0 100px;
}

.right0 {

	right:0;
}

.right5 {

	right:5%;
}

.right10 {

	right:10%;
}

.right30 {

	right:30%;
}

.right-20 {

	right:20px;
}

.right-30 {

	right:30px;
}

.right-40 {

	right:40px;
}

.right-50 {

	right:50px;
}

.right-100 {

	right:100px;
}

.right-200 {

	right:200px;
}

.right-300 {

	right:300px;
}

.right-400 {

	right:400px;
}

.right-minus-100 {

	right:-100px;
}

.left-minus100 {

	left:-100%;

}

.left-minus-20 {

	left:-20px;
}

.left-minus-100 {
	left:100px;
}

.left0 {

	left:0;
}

.left5 {
	left:5%;
}

.left10 {

	left:10%;
}

.left20 {

	left:20%;
}

.left25 {

	left:25%;
}

.left30 {

	left:30%;
}

.left40 {

	left:40%;
}

.left50 {

	left:50%;
}

.left70 {

	left:70%;
}

.left75 {

	left:75%;
}

.left-10 {

	left:10px;
}

.left-20 {

	left:20px;
}

.left-50 {

	left:50px;
}

.left-100 {

	left:100px;
}

.left-200 {

	left:200px;
}

.left-400 {
	left:400px;
}

.top0 {

	top:0;
}

.top5 {

	top:5%;
}

.top10 {

	top:10%;
}

.top20 {

	top:20%;
}

.top30 {

	top:30%;
}

.top-10 {

	top:10px;
}

.top-20 {

	top:20px;
}

.top-30 {

	top:30px;
}

.top-40 {

	top:40px;
}

.top-50 {

	top:50px;
}

.top-100 {

	top:100px;
}

.top-200 {

	top:200px;
}

.top-400 {

	top:400px;
}

.bottom0 {

	bottom:0;
}

.bottom15 {
	bottom:15%;
}

.bottom20 {

	bottom:20%;
}

.bottom30 {

	bottom:30%;
}

.bottom-10 {

	bottom:10px;
}

.bottom-20 {

	bottom:20px;
}

.bottom-30 {

	bottom:30px;
}

.bottom-50 {

	bottom:50px;
}

.bottom-60 {

	bottom:60px;
}

.bottom-100 {

	bottom:100px;
}

.bottom-minus10 {

	bottom:-10%;
}

.bottom-minus-20 {

	bottom:-20px;
}

.bottom-minus-100 {

	bottom:-100px;
}

.bottom-minus-200 {

	bottom:-200px;
}

.bottom-minus-300 {

	bottom:-300px;
}

.flip-h {

	-moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

.rotate-counter-90 {

	-moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.rotate-clock-90 {

	-moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* ***************  FONTS ***************  */


.font-bold{

	font-weight:bold;
}

.font-italic {

	font-style:italic;
}

.font-15 {

	font-size:15px;
}

.font-25 {

	font-size:25px;
}

.font-30 {

	font-size:30px;
}

.font-40 {

	font-size:40px;
}

.font-50 {

	font-size:50px;
}

.font-60 {

	font-size:60px;
}

.font-70 {

	font-size:70px;
}

.font-100 {
	font-size:100px;
}

.line-height-30 {

	line-height:30px;
}

.line-height-40 {

	line-height:40px;
}

.line-height-50 {

	line-height:50px;
}

.line-height-60 {

	line-height:60px;
}

.line-height-80 {

	line-height: 80px;
}

/* ***************  FORMATS ***************  */


.rounded5 {

	border-radius:5px;
}

.rounded10 {
	
	border-radius:10px;	
}

.rounded20 {
	
	border-radius:20px;	
}

.rounded25 {

	border-radius:25px;
}

.rounded50 {

	border-radius:50px;
}

.border {
	border:1px solid black;	
}

.border-white {

	border:1px solid white;	
}

.border-red {

	border:1px solid red;	
}

.border-blue {

	border:1px solid blue;	
}

.border-left {

	border-left:1px solid black;
}

.border-right {

	border-right:1px solid black;
}

.shadow {
	box-shadow: 0 0 10px 0 #424242;	
}

.lowered {
	box-shadow: 0 0 10px 0 #424242 inset;		
}

.lowered-white {
	box-shadow: 0 0 10px 0 white inset;		
}

.raised {
	box-shadow: 5px 5px 10px 0 #424242;	
	z-index:100;
}



/* ***************  COLORS ***************  */



.white {

	color:white;
}

.black {

	color:black;
}

.gray {

	color:#333;
}

.blue {

	color:blue;
}

.white-back {
	background-color:white;	
}

.black-back {
	background-color:black;	
}

.gray-back {

	background-color:#333;
}

.blue-back {

	background-color:#003;
}

.blue2-back {

	background-color:#0d6591;
}

.blue3-back {

	background-color:#706591;
}

.red-back {

	background-color:#300;
}

.brown-back {

	background-color:#c3a991;
}

.green-back {

	background-color:#030;
}

.green2-back {

	background-color:#0da991;
}

.pink-back {

	background-color:#bd6591;
}

.purple-back {

	background-color:#303;
}

.orange-back {

	background-color:#F90;
}

.transparent-back {

	background-color:transparent;
}




/* ***************  SCROLL ***************  */


.cutoff {
	overflow:hidden;	
}

.cutoffX {

	overflow-x:hidden;
}

.cutoffY {

	overflow-y:hidden;
}

.scroll {
	overflow:scroll;	
}

.scrollX {

	overflow-x:scroll;
}

.scrollY {

	overflow-y:scroll;
}

.touch {

	-webkit-overflow-scrolling: touch;
}



/* ***************  CENTERING ***************  */



.text-center {
    
    text-align:center;  
}

.text-right {

	text-align:right;
}

.cell-center {

	vertical-align:middle;
    text-align:center;
}

.golden {

	top: 30%;
	
	-ms-transform: translate(0, -30%);
    -webkit-transform: translate(0, -30%);
    transform: translate(0, -30%);
}

.hcenter {
    left: 50%;
    margin-right: -50%;
	
	-ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
	
   
}

.vcenter {
	top: 50%;
	
	-ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
		
}

.center {
	top:50%;
    left: 50%;
    margin-right: -50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* ***************  HEIGHTS ***************  */


.height-auto {

	height:auto;
}

.height {

	height:100%;
}

.height5 {

	height:5%;
}

.height10 {

	height:10%;
}

.height20 {

	height:20%;
}

.height30 {

	height:30%;
}

.height40 {

	height:40%;
}

.height50 {

	height:50%;
}

.height60 {

	height:60%;
}

.height70 {

	height:70%;
}

.height75 {

	height:75%;
}

.height80 {

	height:80%;
}


.height90 {

	height:90%;
}

.height120 {

	height:120%;
}

.height150 {

	height:150%;
}

.height200 {

	height:200%;
}

.height500 {

	height:500%;
}

.height-10 {

	height:10px;
}

.height-20 {

	height:20px;
}

.height-30 {

	height:30px;
}

.height-40 {

	height:40px;
}

.height-50 {

	height:50px;
}

.height-60 {

	height:60px;
}

.height-70 {

	height:70px;
}

.height-75 {

	height:75px;
}

.height-80 {

	height:80px;
}

.height-90 {

	height:90px;
}

.height-100 {

	height:100px;
}

.height-150 {

	height:150px;
}

.height-200 {

	height:200px;
}

.height-300 {

	height:300px;
}

.height-400 {

	height:400px;
}

.height-600 {

	height:600px;
}

.height-800 {

	height:800px;
}

.height-1000 {

	height:1000px;
}

.height-1200 {

	height:1200px;
}

.min-height100 {

	min-height:100%;
}

.min-height-1200 {

	min-height:1200px;
}


/* ***************  WIDTHS ***************  */


.width-auto {

	width:auto;
}

.width {

	width:100%;
}

.width5 {

	width:5%;
}

.width10 {

	width:10%;
}

.width20 {

	width:20%;
}

.width25 {

	width:25%;
}

.width30 {

	width:30%;
}

.width40 {

	width:40%;
}

.width50 {

	width:50%;
}


.width60 {

	width:60%;
}

.width70 {

	width:70%;
}

.width80 {

	width:80%;
}


.width90 {

	width:90%;
}

.width120 {

	width:120%;
}

.width150 {

	width:150%;
}

.width200 {

	width:200%;
}

.width-10 {

	width:10px;
}

.width-20 {

	width:20px;
}

.width-30 {

	width:30px;
}

.width-40 {

	width:40px;
}

.width-50 {

	width:50px;
}

.width-60 {

	width:60px;
}

.width-70 {

	width:70px;
}

.width-80 {

	width:80px;
}

.width-90 {

	width:90px;
}

.width-100 {

	width:100px;
}

.width-120 {

	width:120px;
}

.width-150 {

	width:150px;
}

.width-200 {

	width:200px;
}

.width-300 {

	width:300px;
}

.width-400 {

	width:400px;
}

.width-500 {

	width:500px;
}

.width-600 {

	width:600px;
}

.width-700 {

	width:700px;
}

.min-width100 {

	min-width:100%;
}

.min-width-500 {

	min-width:500%;
}

.min-width-700 {

	min-width:700px;
}

.min-width-900 {

	min-width:900px;
}

.min-width-1000 {

	min-width:1000px;
}

.min-width-1600 {

	min-width:1600px;
}


/* ***************  LAYERING ***************  */


.z-5 {

	z-index:5;
}


.z-10 {

	z-index:10;
}

.z-20 {

	z-index:20;
}

.z-100 {

	z-index:100;
}



