

.mToolbar {
	
	position:fixed;
	width:100%;
	height:400px;
	background-color:#333;
	color:white;
	z-index:10;

}

.mNavUpper {
	
	position:relative;
	height:50%;
	width:100%;
}

.mNavLower {
	
	position:relative;
	height:50%;
	width:100%;
}

.mTitle {
	position:relative;
	display:block;
	width:700px;
	height:auto;
	margin:auto;

}

.mNavInner {
	position:relative;
	margin:auto;
}

.mNavLower div {
	position:relative;
	margin:0 50px;
	font-size:50px;
}

.mBtn {
	position:relative;
	margin:0 50px;
	font-size:50px;
	cursor:pointer;
}

.mPagesContainer {

	position:absolute;
	top:400px;
	left:0;
	width:100%;
	z-index:5;
}

.mPage {

	position:absolute;
	width:50%;
}

#mProjectContainer {
	left:0;
}

#mContactContainer {
	left:50%;
}

.mProject {

	position:relative;
}

.mContact {
	position:absolute;
	top:20%;
	width:80%;
}

.mSpace {
	position:relative;
	background-color:transparent;
	overflow:hidden;
	height:800px;
	width:100%;
}

.mSep {
	position:relative;
	width:100%;
	overflow:hidden;
	background-color:white;
}

.mSep2 {
	position:relative;
	width:100%;
	height:300px;
	background-color:white;
}

.mIntro {
	position:relative;
	width:100%;
	height:30px;
}

.mIntroInner {
	position:relative;
	width:100%;
	text-align:center;
	font-size:40px;

}

.mBack {
	position:absolute;
	width:200%;
	height:auto;
	right:-100px;
	bottom:-300px;
}

.mIconblock {
	position:relative;
	width:70%;
	height:50%;
}

.mApptitle {
	position:absolute;
	top:0;
	width:40%;
	text-align:center;
	font-weight:bold;
	font-size:50px;
	color:white;
}

.mIcon {
	position:absolute;
	width:200px;
	height:auto;
	bottom:0;
	cursor:pointer;
}

.mBlockInst {
	
	position:absolute;
	bottom:-100px;
	text-align:center;
	color:white;
	font-size:40px;
}

.mDescription {
	position:relative;
	top:50px;
	width:80%;
	font-size:40px;
}

.mBioImg {
	position:relative;
	margin-bottom:40px;
	top:0;
	width:60%;
	height:auto;
}

.mBioContainer {
	
	position:relative;
	width:100%;
}

.mBioInner {
	
	position:relative;
	width:100%;
	font-size:40px;
}



