

#console.mobile {

	position:relative;
	height:200px;
	width:100%;
	font-size:30px;
}

.toolbar.mobile {
	
	position:fixed;
	width:100%;
	top:0;
	height:400px;
	background-color:#333;
	color:white;
	z-index:10;

}


.main.mobile {


}

.body.mobile {

	position:absolute;
	/* Firefox */
	height: -moz-calc(100% - 400px);
	/* WebKit */
	height: -webkit-calc(100% - 400px);
	/* Opera */
	height: -o-calc(100% - 400px);
	/* Standard */
	height: calc(100% - 400px);
	top:400px;
	left:0;
	width:100%;
	z-index:5;
	overflow:hidden;
}

.page.mobile {

	position:absolute;
	width:50%;
	overflow-y:scroll;
}

#projects.mobile {
	left:0;
}

#contact.mobile {
	left:50%;
}

.project.mobile {

	position:relative;
}

.contact.mobile {
	position:absolute;
	top:20%;
	width:80%;
}

.navUpper.mobile {
	
	position:relative;
	height:50%;
	width:100%;
}

.navLower.mobile {
	
	position:relative;
	height:50%;
	width:100%;
}

.title.mobile {
	position:relative;
	display:block;
	width:700px;
	height:auto;
	margin:auto;

}

.navInner.mobile {
	position:relative;
	margin:auto;
}

.navLower.mobile div {
	position:relative;
	margin:0 50px;
	font-size:50px;
}

.btn.mobile {
	position:relative;
	margin:0 50px;
	font-size:50px;
	cursor:pointer;
}

.space.mobile {
	position:relative;
	background-color:transparent;
	overflow:hidden;
	height:800px;
	width:100%;
}

.sep.mobile {
	position:relative;
	width:100%;
	overflow:hidden;
	background-color:white;
}

.sep2.mobile {
	position:relative;
	width:100%;
	height:300px;
	background-color:white;
}

.intro.mobile {
	position:relative;
	width:100%;
	height:30px;
}

.introInner.mobile {
	position:relative;
	width:100%;
	text-align:center;
	font-size:40px;

}

.back.mobile {
	position:absolute;
	width:200%;
	height:auto;
	right:-100px;
	bottom:-300px;
}

.iconblock.mobile {
	position:relative;
	width:70%;
	height:50%;
}

.apptitle.mobile {
	position:absolute;
	top:0;
	width:40%;
	text-align:center;
	font-weight:bold;
	font-size:50px;
	color:white;
}

.icon.mobile {
	position:absolute;
	width:200px;
	height:auto;
	bottom:0;
	cursor:pointer;
}

.blockInst.mobile {
	
	position:absolute;
	bottom:-100px;
	text-align:center;
	color:white;
	font-size:40px;
}

.description.mobile {
	position:relative;
	top:50px;
	width:80%;
	font-size:40px;
}

.bioImg.mobile {
	position:relative;
	margin-bottom:40px;
	top:0;
	width:60%;
	height:auto;
}

.bioContainer.mobile {
	
	position:relative;
	width:100%;
}

.bioInner.mobile {
	
	position:relative;
	width:100%;
	font-size:40px;
}



