

html, body {

	margin:0;
	padding:0;
	font-family:'museo300';
}

a {

	text-decoration: none;
	color:white;
}

a.blue {

	color:blue;
}

.paragraph {
	padding:20px;
}

.paragraph.border {
	border-bottom:1px solid black;	
}



.tabp {
	position:relative;
	padding:20px;
	left:0;	
}

.bodyMobile {
	/* Firefox */
	height: -moz-calc(100% - 400px);
	/* WebKit */
	height: -webkit-calc(100% - 400px);
	/* Opera */
	height: -o-calc(100% - 400px);
	/* Standard */
	height: calc(100% - 400px);
}

.contactHeight {

	height:2200px;
}

