
.height-auto {

	height:auto;
}

.height {

	height:100%;
}

.height10 {

	height:10%;
}

.height20 {

	height:20%;
}

.height30 {

	height:30%;
}

.height40 {

	height:40%;
}

.height50 {

	height:50%;
}

.height60 {

	height:60%;
}

.height70 {

	height:70%;
}

.height80 {

	height:80%;
}


.height90 {

	height:90%;
}