

<div class="relative width70 hcenter">

	<div class="relative height-20 width"></div>

	<div class="relative width height-800">

		<div class="absolute corner width60 border-right border-left" ng-bind-html="renderHtml(info.bio)"></div>

		<img class="absolute top0 left70 width30 height-auto" ng-src="{{info.image}}"/>
		
	</div>

	<div class="relative">

		<!-- Put this code anywhere in the body of your page where you want the badge to show up. -->

		<div itemscope itemtype='http://schema.org/Person' class='fiverr-seller-widget hcenter' style='display: inline-block;'>
		     <a itemprop='url' href=https://www.fiverr.com/methodswclass rel="nofollow" target="_blank" style='display: inline-block;'>
		        <div class='fiverr-seller-content' id='fiverr-seller-widget-content-bbc58f28-72a2-4532-9534-db0f7021aac3' itemprop='contentURL' style='display: none;'></div>
		        <div id='fiverr-widget-seller-data' style='display: none;'>
		            <div itemprop='name' >methodswclass</div>
		            <div itemscope itemtype='http://schema.org/Organization'><span itemprop='name'>Fiverr</span></div>  
		            <div itemprop='jobtitle'>Seller</div>
		            <div itemprop='description'>Hi, I'm a JavaScript developer who blogs in his free time. It's great because this means I can make my own blog sites :) I also enjoy film, art, writing, literature, good debates, and thinking outside the box. I hope to bring some of my talents to your project and make a little money doing it ;)</div> 
		        </div>
		    </a>
		</div>

		<script id='fiverr-seller-widget-script-bbc58f28-72a2-4532-9534-db0f7021aac3' src='https://widgets.fiverr.com/api/v1/seller/methodswclass?widget_id=bbc58f28-72a2-4532-9534-db0f7021aac3' data-config='{"category_name":"Programming & Tech"}' async='true' defer='true'></script>

	</div>
    
	
	<div class="relative height-200 width"></div>

</div>