

<div class="relative width70 hcenter">

	<div class="relative width top-100">

		<div class="relative width60 border-right border-left inline" ng-bind-html="renderHtml(info.bio)"></div>

		<img class="relative left10 top30 width30 height-auto inline" ng-src="{{info.image}}"/>
		
	</div>

	<div class="relative height-100 width"></div>

	<div class="relative width80 border padding-50" id="badges">

		<div class="relative margin-h-50 inline border-red" id="fiverr">

			<!-- Put this code anywhere in the body of your page where you want the badge to show up. -->

			<div itemscope itemtype='http://schema.org/Person' class='fiverr-seller-widget' style='display: inline-block;'>
			     <a itemprop='url' href=https://www.fiverr.com/methodswclass rel="nofollow" target="_blank" style='display: inline-block;'>
			        <div class='fiverr-seller-content' id='fiverr-seller-widget-content-bbc58f28-72a2-4532-9534-db0f7021aac3' itemprop='contentURL' style='display: none;'></div>
			        <div id='fiverr-widget-seller-data' style='display: none;'>
			            <div itemprop='name' >methodswclass</div>
			            <div itemscope itemtype='http://schema.org/Organization'><span itemprop='name'>Fiverr</span></div>  
			            <div itemprop='jobtitle'>Seller</div>
			            <div itemprop='description'>Hi, I'm a JavaScript developer who blogs in his free time. It's great because this means I can make my own blog sites :) I also enjoy film, art, writing, literature, good debates, and thinking outside the box. I hope to bring some of my talents to your project and make a little money doing it ;)</div> 
			        </div>
			    </a>
			</div>

			<script id='fiverr-seller-widget-script-bbc58f28-72a2-4532-9534-db0f7021aac3' src='https://widgets.fiverr.com/api/v1/seller/methodswclass?widget_id=bbc58f28-72a2-4532-9534-db0f7021aac3' data-config='{"category_name":"Programming & Tech"}' async='true' defer='true'></script>

		</div>

	</div>
    
	
	<div class="relative height-200 width"></div>

</div>