

<div class="relative width70 hcenter">

	<div class="relative height-100 width"></div>

	<div class="relative width">

		<table>
			<tr>
				<td class="width60">
					<div class="relative border-right border-left" ng-bind-html="renderHtml(info.bio)"></div>
				</td>
				<td class="width40">
					<div class="relative width height-600">
						<img class="relative center height80 width-auto" ng-src="{{info.image}}"/>
					</div>
				</td>
			</tr>
		</table>

	</div>

	<div class="relative height-100 width"></div>

	<div class="relative hcenter width40 height-400 border" id="badges">

		<table class="relative width height">
			<tr class="height">
				<td>
						<!-- Put this code anywhere in the body of your page where you want the badge to show up. -->

						<div itemscope itemtype='http://schema.org/Person' class='fiverr-seller-widget' style='display: inline-block;'>
						     <a itemprop='url' href=https://www.fiverr.com/methodswclass rel="nofollow" target="_blank" style='display: inline-block;'>
						        <div class='fiverr-seller-content' id='fiverr-seller-widget-content-bbc58f28-72a2-4532-9534-db0f7021aac3' itemprop='contentURL' style='display: none;'></div>
						        <div id='fiverr-widget-seller-data' style='display: none;'>
						            <div itemprop='name' >methodswclass</div>
						            <div itemscope itemtype='http://schema.org/Organization'><span itemprop='name'>Fiverr</span></div>  
						            <div itemprop='jobtitle'>Seller</div>
						            <div itemprop='description'>Hi, I'm a JavaScript developer who blogs in his free time. It's great because this means I can make my own blog sites :) I also enjoy film, art, writing, literature, good debates, and thinking outside the box. I hope to bring some of my talents to your project and make a little money doing it ;)</div> 
						        </div>
						    </a>
						</div>

				</td>
				<td class="width-200 height">

						<a class="width60 height60 cell-center" href="https://www.linkedin.com/pub/christopher-polito/28/6b6/460" target="_blank" style="text-decoration:none;"><span class="width height" style="font: 80% Arial,sans-serif; color:#0783B6;"><img class="width height-auto" src="img/linkedin.png" alt="View Christopher Polito's LinkedIn profile" style="vertical-align:middle;" border="0"></span></a>
				</td>
			</tr>
		</table>

	</div>
	
	<div class="relative height-200 width"></div>

	<script id='fiverr-seller-widget-script-bbc58f28-72a2-4532-9534-db0f7021aac3' src='https://widgets.fiverr.com/api/v1/seller/methodswclass?widget_id=bbc58f28-72a2-4532-9534-db0f7021aac3' data-config='{"category_name":"Programming & Tech"}' async='true' defer='true'></script>

</div>