



      <div class="absolute corner height10 width gray-back white" id="toolbar">
          <div class="absolute width90 height-30 border-white center">

              <table class="absolute width vcenter">

                  <tr>

                      <td><menu class="absolute margin-h-50 vcenter font-50 pointer" id="projectBtn"> Project </menu></td>
                      <td><menu class="absolute margin-h-50 vcenter font-50 pointer" id="contactBtn"> Contact </menu></td>

                      <td><div class="absolute width40 vcenter"></div></td>

                      <td><div class="absolute margin-h-50 vcenter"> <img class="absolute width-300 vcenter height-auto" src="/img/title2.png"/> </div></td>

                  </tr>
              </table>

          </div>
      </div>

      <div class="absolute top10 height90 width200 scrollY" id="body">

          <!-- <div class="page"> -->
            
              <parallax class="absolute width50 top0 left0" id="projectsOuter" scroll-items="main.projects">
                      <div class="relative width height-100 white-back cutoff noedge z-20">
                          <div class="absolute width height-30 vcenter">
                              <div class="absolute width text-center vcenter">Here are some projects in various languages and platforms, enjoy </div>
                          </div>
                      </div>

                      <div class="relative" ng-repeat="project in main.projects"> 
                          <project info="project"></project>
                      </div>
              </parallax>

          <!-- </div> -->

          <div class="absolute width50 top0 left50" id="contactsOuter">
              <div class="absolute top20 width60 desktop hcenter">
                  <contact info="main.contact"></contact>
              </div>
          </div>

      </div>