
  <div class="toolbar">
      <div class="nav vcenter">

          <table class="navInner vcenter">

              <tr>

                  <td><menu class="btn" id="projectBtn"> Project </menu></td>
                  <td><menu class="btn" id="contactBtn"> Contact </menu></td>

                  <td class="navSpace"><div></div></td>

                  <td><div class="title"> <img src="/img/title2.png"/> </div></td>

              </tr>
          </table>

      </div>
  </div>

  <div class="pagesContainer" id="bodyContainer">
        
      <parallax class="page" id="projectContainer" scroll-items="projects">
              <div class="elem sep">
                  <div class="intro vcenter">
                      <div class="introInner vcenter">Here are some projects in various languages and platforms, enjoy </div>
                  </div>
              </div>

              <div class="project" ng-repeat="project in projects"> 
                  <project info="project"></project>
              </div>
      </parallax>



      <div class="page" id="contactContainer">
          <div class="contact hcenter">
              <contact info="contact"></contact>
          </div>
      </div>

  </div>