

    <div class="fixed width top0 height-400 gray-back white z-20">
        <div class="relative height50 width">
              <img class="relative width-700 height-auto center" src="/img/title2.png"/>
        </div>

        <div class="relative height50 width80 hcenter">
              <table class="relative corner width height golden">

                    <tr>

                        <td><menu class="relative width height text-center font-70 pointer center" ng-attr-body="body" ng-attr-id="projectBtn"> Project </menu></td>
                        <td class="width20"></td>
                        <td><menu class="relative width height text-center font-70 pointer center" ng-attr-body="body" ng-attr-id="contactBtn"> Contact </menu></td>

                    </tr>

              </table>
        </div>
    </div>

    <div class="absolute top-400 left0 width bodyMobile cutoff z-20">

        <div class="absolute corner height width200 z-20" id="body">
              
            <scrollable class="absolute width50 height corner noedge z-20" ng-attr-body="body" ng-style="{height:projectHeight(main.projects) + 'px'}" id="projects">
                    <div class="relative width height-300 white-back noedge z-20">
                      <div class="relative width height-30 vcenter">
                        <div class="relative width text-center font-40 vcenter">Here are some projects in various languages and platforms, enjoy </div>
                      </div>
                    </div>

                    <div class="relative width noedge z-20" ng-repeat="project in main.projects">
                        <project ng-attr-view="mProject.html" ng-attr-parent="projects" info="project"></project>
                    </div>
            </scrollable>

            <div class="absolute width50 height left50 top0 scrollY noedge z-20" id="contact">
                <div class="absolute top20 width80 height hcenter">
                    <contact ng-attr-view="mContact.html" info="main.contact"></contact>
                </div>
            </div>

        </div>

    </div>