
  <div class="mToolbar">
    <div class="mNavUpper">
      <img class="mTitle" src="/img/title2.png"/>
    </div>

    <div class="mNavLower">
      <table class="mNavInner golden">

        <tr>

          <td> <menu class="btn" id="projectBtn"> Project </menu> </td>
          <td> <menu class="btn" id="contactBtn"> Contact </menu></td>

        </tr>

      </table>
    </div>
  </div>

  <div id="mBodyContainer">
        
      <parallax class="page" id="mProjectContainer" scroll-items="projects">
              <div class="elem mSep2">
                <div class="mIntro">
                  <div class="mIntroInner">Here are some projects in various languages and platforms, enjoy </div>
                </div>
              </div>

              <div class="mProject" ng-repeat="project in projects"> 
                  <project info="project"></project>
              </div>
      </parallax>



      <div class="page" id="mContactContainer">
          <div class="mContact hcenter">
              <contact info="contact"></contact>
          </div>
      </div>

  </div>