
<div class="mobile">

    <div class="toolbar mobile">
      <div class="navUpper mobile">
        <img class="title mobile vcenter" src="/img/title2.png"/>
      </div>

      <div class="navLower mobile">
        <table class="navInner mobile golden">

          <tr>

            <td> <menu class="btn mobile" id="projectBtn"> Project </menu> </td>
            <td> <menu class="btn mobile" id="contactBtn"> Contact </menu></td>

          </tr>

        </table>
      </div>
    </div>

    <div class="body mobile" id="body">
          
        <div class="page mobile" id="projects" scrollable>
                <div class="elem sep2 mobile">
                  <div class="intro mobile vcenter">
                    <div class="introInner mobile vcenter">Here are some projects in various languages and platforms, enjoy </div>
                  </div>
                </div>

                <!-- <div id="mConsole"></div> -->

                <div class="project mobile" ng-repeat="project in main.projects"> 
                    <project ng-attr-view="mProject.html" parent-id="projectsOuter" info="project"></project>
                </div>
        </div>



        <div class="page mobile" id="contact">
            <div class="contact mobile hcenter">
                <contact info="main.contact"></contact>
            </div>
        </div>

    </div>

</div>