<div class="elem relative width transparent-back cutoff height600" id="{{'space' + info.id}}">

    <img class="back mobile" id="{{'img' + info.id}}" ng-src= "{{info.back}}" />

    <div class="iconblock mobile center">
        <div class="apptitle mobile hcenter"> {{info.title}}</div>
        
        <img class="icon mobile hcenter" ng-src= "{{info.icon}}" />

        <div class="blockInst mobile hcenter">{{addText(info.id)}}</div>
    </div>

</div>

<div class="elem sep mobile" id="{{'sep' + info.id}}" ng-style="{ height:info.mobileSep + 'px' }">

    <div class="description mobile hcenter" ng-bind-html="renderHtml(info.description)"></div>

</div>