<div class="elem mSpace" id="{{'space' + info.id}}">

    <img class="mBack" id="{{'img' + info.id}}" ng-src= "{{info.back}}" />

    <div class="iconblock center">
        <div class="mApptitle hcenter"> {{info.title}}</div>
        
        <img class="mIcon hcenter" ng-src= "{{info.icon}}" />

        <blockinst class="mBlockInst hcenter" id="{{'blockInst' + info.id}}"></blockinst>
    </div>

</div>

<div class="elem mSep" id="{{'sep' + info.id}}" style="{{'height:' + info.mobileSep + 'px'}}">

    <div class="mDescription hcenter" ng-bind-html="renderHtml(info.description)"></div>

</div>