<div class="elem space" id="space{{$index}}">

	<img class="back" id="img{{$index}}" ng-src= "{{app.back}}" />

	<div class="iconblock center" id="iconBlock{{$index}}">
        <div class="apptitle hcenter"> {{app.title}}</div>
        
        <img class="icon hcenter" id="icon{{$index}}" ng-src= "{{app.icon}}" />

        <div class="blockInst hcenter">
        	click the icon to learn more about the project
        </div>
    </div>

</div>

<div class="elem sep" id="sep{{$index}}">

	<div class="description hcenter">

		{{app.description}}

	</div>

</div>