<div class="elem space" ng-attr-id="{{'space' + info.id}}">

    <img class="back" ng-attr-id="{{'img' + info.id}}" ng-src= "{{info.back}}" />

    <div class="iconblock center">
        <div class="apptitle hcenter"> {{info.title}}</div>
        
        <img class="icon hcenter" ng-click="clickImage(info.maxSep, info.id)" ng-attr-id="{{'icon' + info.id}}" ng-src= "{{info.icon}}" />

        <div class="blockInst hcenter">
            click the icon to learn more about the project
        </div>
    </div>

</div>

<div class="elem sep" ng-attr-id="{{'sep' + info.id}}">

    <div class="description hcenter" ng-bind-html="renderHtml(info.description)"></div>

</div>