

<div class="relative width">

	<div class="relative width height-200 black-back">

		<div class="absolute width80 height30 center font-40">
			
			<div class="absolute width50 white">
				methods with class
			</div>

			<div class="absolute width-200 height-50 right0">
				<back font="font-30"></back>
			</div>

		</div>

	</div>

	<div class="relative width">

		<div class="relative width80 hcenter">

			<div class="relative inline width50">

				<div class="relative width">
					<resume/>
				</div>

			</div>

			<div class="relative inline width40 margin-v-100 cell-top">

				<div class="relative width-300 hcenter">

					<div class="relative width pointer margin-v-20" on-tap="email()">

						<div class="relative width height-100 hcenter rounded-top-10 black-back white">
							<div class="absolute center text-center">email me<br>chris@methodswithclass.com</div>
						</div>

						<img class="relative width height-auto hcenter" src="assets/img/bio-photo.jpg"/>

					</div>

					<div class="relative width height-200">

						<div class="relative width-200 height-200 center">
							<a class="relative nolink" href="https://www.linkedin.com/pub/christopher-polito/28/6b6/460" target="_blank">
								<img class="width height-auto" src="assets/img/linkedin.png"/>
							</a>
						</div>

					</div>

					<div class="relative width80 height-50 hcenter margin-v-50 black-back white pointer rounded10" on-tap="resume()">
						<div class="absolute center">
							resume.doc
						</div>
					</div>



				</div>

			</div>

		</div>

	</div>

</div>

	