

body {

	height:100%;
	width:100%;
	margin:0;
	padding:0;
}

.paragraph {
	padding:20px;
}

.paragraph.line {
	border-bottom:1px solid black;	
}



.tabp {
	position:relative;
	padding:20px;
	left:0;	
}

.bodyMobile {
	/* Firefox */
	height: -moz-calc(100% - 400px);
	/* WebKit */
	height: -webkit-calc(100% - 400px);
	/* Opera */
	height: -o-calc(100% - 400px);
	/* Standard */
	height: calc(100% - 400px);
}

.contactHeight {

	height:2600px;
}


.parallax {

	background-attachment: fixed;
	background-repeat: none;
	background-position: center;
	background-size: cover;
}
