
<div class="relative width height-600 white-back cutoff noedge" id="{{'sep' + info.id}}">

    <div class="relative width60 font-25 text-center center" id="{{'desc' + info.id}}"> {{info.description}} </div>

</div>

<div class="relative width height-800 transparent-back" parallax src="{{info.back}}"></div>

<!-- <div class="relative width height-800 cutoff black-back" id="{{'space' + info.id}}">

	<div ng-show="info.id == 'nuplae'" class="absolute width height120 transparent-back z-10" id="{{'parallax2' + info.id}}" parallax name="{{'2' + info.id}}" space="{{info.id}}" factor="3" top="false" bottom="-0.5" scroll="body">
		<div class="absolute left-100 width-500 height-200 golden white-back rounded20 border">
			<div class="absolute center font-25">
				visit on your mobile device to play
			</div>
		</div>
	</div>

	<div ng-show="info.id == 'end'" class='absolute top10 left10 width-200 height-50 z-10' id="{{'contact' + info.id}}" on-tap='clicked()'>
		<div class='absolute width height white-back rounded10 pointer'>
			<div class='absolute font-40 center'>contact</div>
		</div>
	</div>


	<div class="absolute width height150 hcenter black-back cutoff" id="{{'parallax' + info.id}}" parallax name="{{info.id}}" space="{{info.id}}" factor="0.8" top="false" bottom="{{info.bottom}}" scroll="body">
		 <img class="absolute height80 center" ng-src="{{info.back}}" id="{{'img' + info.id}}"/>
	</div>
   

</div> -->