

<div class="absolute width height corner scrollY touch noedge">

	<div class="relative width min-height100 margin-bottom-200" id="content">

		<div class="relative width height-200 black-back">

			<div class="absolute width80 height30 center font-40">
				
				<div class="absolute width50 white">
					methods with class
				</div>

				<div class="absolute width-200 height-50 right0">
					<back font="font-30"></back>
				</div>

			</div>

		</div>


		<div class="relative width">

			<div class="absolute top-100 width60 hcenter">

				<div class="absolute left0 width60 height">

					<div class="relative width padding-bottom-20 border-bottom">
						<div class="relative width80 hcenter">
							I am an experienced developer whose focus in the last few years has been for the web. However, everything I do is still app-centric. OOP is my manifesto.
						</div>
					</div>

					<div class="relative width padding-v-20 border-bottom">
						<div class="relative width80 hcenter">
							I push boundaries of what is industry-standard, convnetional, and safe. My only concern is bringing the client's interests to life or recommending how to bring their low level interests around to meet the real interests of their business, organzation, or web-presence.
						</div>
					</div>

					<div class="relative width padding-v-20">
						<div class="relative width80 hcenter">
							Let me do this for you. I develop web apps that are easily scalable when your business is ready to grow down the line, and always maintainable when your business starts up shop again tomorrow.
						</div>
					</div>

					<div class="relative top-50 width-200 height-50 hcenter border rounded20 white-back pointer" on-tap="email()">
						<div class="absolute center">email me</div>
					</div>

				</div>

				<div class="absolute right0 width30 height">

					<img class="absolute width height-auto" src="img2/bio-photo.jpg"/>

				</div>

			</div>

		</div>

		<div class="absolute width height-200 top100">
			<footer></footer>
		</div>

	</div>

	


</div>