
<div class="absolute width80 height80 border center">
	<div class="absolute width80 height80 center font-25">
			<div class="relative margin-v-50"> 
				<div class="absolute top0 left0 font-bold">images:</div> 
				<div class="absolute top0 left-100 blue pointer z-10" on-tap="openExternal('http://stuckpixelstudios.com/apps/wallpapers-hd/')">Wallpapers HD</div>
			</div>
			<div class="relative height-400 width"></div>
			<div class="relative height-200 width">
				<redirect name="'back'" font="'font-30'" size="{width:'200px', height:'100px'}" url="/checking"></redirect>
			</div>
		</div>
	</div>
</div>