

<div class="relative width height">
	<div class="relative width height-600 black-back cutoff" parallax scroll="body" top="true" inner="innerhome">
		
		<div class="absolute width height150" id="innerhome">

			<div class="absolute top10 width80 height40 center">

				<div class="absolute top0 right0 width white text-right font-70">
					methods with<br>class
				</div>

				
				<div class="absolute width white bottom0 text-right"> we make your ideas come to life with class </div>
				
			</div>

		</div>

	</div>

    <div class="relative transparent-back" ng-repeat="block in main.blocks"> 
        <block scroll="body" info="block"></block>
    </div>

</div>