<div class="relative width height-600 black-back cutoff noedge z-20" id="{{'space' + info.id}}">

    <img class="absolute width min-width-1600 height-auto right0" id="{{'parallax' + info.id}}" ng-src= "{{info.back + '.png'}}" parallax name="{{info.id}}" factor="0.3" top="true" bottom="0.1" scroll="body"/>

    <div class="relative width70 height50 center">
        <div class="absolute top-20 width40 text-center font-bold font-25 white hcenter"> {{info.title}}</div>

        <img class="absolute width-100 height-auto bottom-60 pointer hcenter" ng-click="clickImage(info)" ng-src= "{{info.icon}}" />

        <div class="absolute bottom0 text-center white font-15 hcenter">
            click the icon to learn more about the project
        </div>
    </div>

</div>

<div class="relative width height-100 white-back cutoff noedge z-20" id="{{'sep' + info.id}}">

    <div class="relative height width60 font-50 text-center hcenter" id="{{'desc' + info.id}}"> ... </div>

</div>