
<div class="relative width">

	<div class="relative {{section.subtitle.justify}} {{section.subtitle.margin}} {{section.subtitle.font_size}}">{{section.subtitle.text}}</div>

	<div class="relative width60 hcenter" ng-repeat="paragraph in section.content">
		<div class="relative width font-20 line-height-40">{{paragraph.text}}</div>
		<div class="relative width height-30 white-back"></div>
	</div>

	<div class="relative width height-100" id="blog-bottom"></div>

	<div class="relative width height-100 bottom0">
		<footer></footer>
	</div>

</div>

