
<div class="relative width height-600 white-back cutoff noedge" id="{{'sep' + info.id}}">

    <div class="relative width60 font-40 text-center center" id="{{'desc' + info.id}}"> {{info.description}} </div>

</div>

<div class="relative width height-800 black-back cutoff noedge" id="{{'space' + info.id}}">

	<div ng-show="info.id == 'nuplae'" class="absolute width height blue2-back z-10">
		
		<div class="absolute width-200 height-300 center">
			<div class="absolute width-200 height-200 top0 border white-back rounded30" on-tap='clicked()'>
				<div class='absolute width90 height90 border rounded20 center cutoff pointer'>
					<img class='absolute width height' src='img2/mesh.jpg'/>
				</div>
			</div>

			<div class="absolute bottom0 hcenter white font-40"> tap me</div>
		</div>
	</div>

	<div ng-show="info.id == 'end'" class='absolute top10 left10 width-200 height-100 z-10' on-tap='clicked()'>
		<div class='absolute width height white-back rounded10 pointer'>
			<div class='absolute font-40 center'>contact</div>
		</div>
	</div>

    <img class="absolute width120 height-auto hcenter" id="{{'parallax' + info.id}}" ng-src= "{{info.back}}" parallax name="{{info.id}}" space="{{info.id}}" factor="0.8" top="false" bottom="0.7" scroll="body"/>

</div>






