

<div class="relative width height">

	<div class="relative width height-300 black-back">

		<div class="absolute width80 height30 center font-40">
			
			<div class="absolute width50 white">
				methods with class
			</div>

			<div class="absolute width-200 height-100 right0">
				<back font="font-30"></back>
			</div>

		</div>

	</div>


	<div class="relative width">

		<div class="relative width margin-v-100">
			<resume/>
		</div>		

		<div class="relative width70 hcenter pointer" on-tap="email()">

			<div class="relative width height-200 hcenter rounded-top-20 black-back white">
				<div class="absolute center text-center font-30">email me<br>chris@methodswithclass.com</div>
			</div>

			<img class="relative width80 height-auto hcenter" src="img/bio-photo.jpg"/>

			<div class="relative width height-200" id="text-bottom"></div>

		</div>

		<div class="relative width height-400">

				<div class="relative width-400 height-400 center">
					<a class="relative nolink" href="https://www.linkedin.com/pub/christopher-polito/28/6b6/460" target="_blank">
						<img class="width height-auto" src="img/linkedin.png"/>
					</a>
				</div>

			</div>

	</div>

	<div class="relative width height-200"></div>
	
</div>

	
