
<div class="relative width height-400 white-back cutoff" ng-attr-dir="blog" ng-attr-id="{{blog.meta_data.name}}" repeat>

	<div class="relative width height-400" id="{{'top' + blog.meta_data.name}}">
		<div class="absolute height width80 hcenter">
			<div class="absolute corner width40 height vcenter">
				<div class="absolute center font-50">{{blog.content.title.text}}</div>
			</div>
			<div class="absolute top0 width40 right100 height vcenter">
				<btn></btn>
			</div>
			<div class="absolute top0 width40 right0 height vcenter">
				<badges></badges>
			</div>
		</div>
	</div>

	<div class="relative width80 hcenter">

		<div class="relative width height-100">

			<div class="absolute top-10 left0 font-italic">{{blog.meta_data.by}}</div>
			<div class="absolute top-40 left0 font-italic">{{blog.meta_data.date | date:'longDate'}}</div>

		</div>

		<div ng-repeat="section in sections">
			<section ng-attr-view="m.section.html"></section>
		</div>

	</div>

	<div class="relative width height-200 white-back"></div>

	<div class="relative width" id="{{'bottom' + blog.meta_data.name}}"></div>

</div>