<div class="relative width">

	<div class="relative width80 hcenter margin-v-100 border">

		<div class="relative width80 hcenter">

			<div class="relative width margin-bottom-50 border-bottom">

				<div class="relative width padding-v-20">

					I am a front-end JavaScript developer. AngularJS is my preferred framework. I currently maintain five of my own sites hosted on Heroku, and version controlled with Git. I maintain my own documented code base on a public URL so that my projects are all consistent.
					<br><br>
					I am looking for work as JavaScript engineer, architect, or developer where I would provide solutions and recommendations to address my company's needs.

				</div>

			</div>

			<div class="relative width margin-bottom-50 border-bottom">

				<div class="relative width font-20 font-bold border-bottom">
					Skills
				</div>

				<div class="relative width padding-v-20">


					<ul>
						<li>Angular, JavaScript, jQuery, PHP, Git</li>
						<li>Heroku, Netlify, Freebase</li>
						<li>Writing, Communication, Leadership, Mentoring</li>
						<li>Math, Engineering, Technical skills, Motion dynamics</li>
					</ul>

				</div>

			</div>

			<div class="relative width margin-bottom-50 border-bottom">

				<div class="relative width font-20 font-bold border-bottom">
					Projects
				</div>

				<div class="relative width80 right0">

					<div class="relative width margin-v-20">

						<div class="relative width">
							Personal API
						</div>

						<div class="relative width font-italic">
							developer, 2015 - present
						</div>

						<div class="relative width">
							<a href="http://code.methodswithclass.com" target="_blank">http://code.methodswithclass.com</a>
						</div>

						<div class="relative width">
							<ul>
								<li>Global CSS that can be applied to any project</li>
								<li>Angular directive for parallax scrolling, accounts for any screen and image size</li>
								<li>Angular service for firing events in one part of app from another part of app</li>
								<li>Angular service for sending data from one part of app to another part of app</li>
								<li>Angular directive for development console that prints JavaScript console entries to the screen for mobile debugging</li>
								<li>Version system for all of the above so that I can update code but not break existing sites</li>
							</ul>
						</div>
					
					</div>

					<div class="relative width margin-v-20">

						<div class="relative width">
							Gravity
						</div>

						<div class="relative width font-italic">
							developer, 2013 - present
						</div>

						<div class="relative width">
							<a href="http://gravity.methodswithclass.com" target="_blank">http://gravity.methodswithclass.com</a>
						</div>

						<div class="relative width">
							<ul>
								<li>game platform</li>
								<li>web based gravity games that respond to your device’s position and motion</li>
								<li>application layering, device motion layer, game layer</li>
								<li>points, countdown, punish/reward</li>
								<li>scrolling canvas navigation UI</li>
								<li>global CSS</li>
								<li>single page app, state changes, url changes</li>
							</ul>
						</div>
					
					</div>

					<div class="relative width margin-v-20">

						<div class="relative width">
							Evolve
						</div>

						<div class="relative width font-italic">
							developer, 2016 - present
						</div>

						<div class="relative width">
							<a href="http://evolve.methodswithclass.com" target="_blank">http://evolve.methodswithclass.com</a>
						</div>

						<div class="relative width">
							<ul>
								<li>genetic algorithm, artificial intelligence</li>
								<li>simulates biological evolution</li>
								<li>the program develops an optimized solution to a problem in real time</li>
								<li>classic problem of robot picking up trash in a grid</li>
								<li>GA software is generalized so that it can be applied to different problems</li>
								<li>global CSS</li>
								<li>parallax scrolling</li>
								<li>single page app, state changes, url updates</li>
							</ul>
						</div>
					
					</div>

					<div class="relative width margin-v-20">

						<div class="relative width">
							Gentle Phrasing
						</div>

						<div class="relative width font-italic">
							developer, 2015 - present
						</div>

						<div class="relative width">
							<a href="http://www.gentlephrasing.com" target="_blank">http://www.gentlephrasing.com</a>
						</div>

						<div class="relative width">
							<ul>
								<li>blog site</li>
								<li>parallax scrolling</li>
								<li>responsive design</li>
								<li>Angular directives to control blog text rendering</li>
								<li>global CSS</li>
								<li>Single page app, state changes, url updates</li>
								<li>url parameters allow users to access blogs directly, without going to home page first</li>
								<li>share blog pages to Facebook and Twitter</li>
								<li>PHP code allows single page app to provide correct meta-data to Facebook crawlers</li>
							</ul>
						</div>
					
					</div>

					<div class="relative width margin-v-20">

						<div class="relative width">
							this site
						</div>

						<div class="relative width font-italic">
							developer, 2013 - present
						</div>

						<div class="relative width">
							<a href="http://www.methodswithclass.com">http://www.methodswithclass.com</a>
						</div>

						<div class="relative width">
							<ul>
								<li>my online business card</li>
								<li>global CSS</li>
								<li>parallax scrolling</li>
								<li>responsive design detects desktop and mobile devices</li>
								<li>single page app, state changes, url updates</li>
							</ul>
						</div>
					
					</div>


				</div>


			</div>

			<div class="relative width margin-bottom-50 border-bottom">

				<div class="relative width font-20 font-bold border-bottom">
					Work Experience
				</div>

				<div class="relative width80 right0">

					<div class="relative width padding-v-20">

						<div class="relative width">
							Give me a Break from Cancer
						</div>

						<div class="relative width font-italic">
							developer, 2015 - present
						</div>

						<div class="relative width">
							<ul>
								<li>developing new site</li>
								<li>global CSS</li>
								<li>responsive design</li>
								<li>parallax scrolling</li>
								<li>automatic carousel with controls and indicator</li>
								<li>carousel has parallax scrolling applied to it</li>
							</ul>
						</div>
					
					</div>

					<div class="relative width padding-v-20">

						<div class="relative width">
							Cybermedia Technology
						</div>

						<div class="relative width font-italic">
							lead developer/admin, Oct 2012 - Feb 2015
						</div>

						<div class="relative width">
							<ul>
								<li>developed software solutions</li>
								<li>JavaScript applications</li>
								<li>Flash applications that supported animation</li>
								<li>Word macros (VBA) to process 150 page documents</li>
								<li>Employee IT account admin (Dropbox, Office 365, etc)</li>
								<li>Setup computers for new employees</li>
							</ul>
						</div>
					
					</div>

				</div>

			</div>

		</div>

	</div>

</div>