<div class="absolute width">

	<div class="relative width border-bottom">

		<div class="relative width height-100 font-30 border-bottom">
			<div class="absolute width bottom0">
				Summary
			</div>
		</div>

		<div class="relative width padding-v-20 font-15">

			I am a front-end JavaScript developer. AngularJS is my preferred framework. I currently maintain five of my own sites hosted on Heroku, and version controlled with Git. I maintain my own documented code base on a public URL so that my projects are all consistent.
			<br><br>
			I am looking for work as JavaScript engineer, architect, or developer where I would provide solutions and recommendations to address my company's needs.

		</div>

	</div>

	<div class="relative width border-bottom">

		<div class="relative width height-100 font-30 border-bottom">
			<div class="absolute width bottom0">
				Skills
			</div>
		</div>

		<div class="relative width padding-v-20 font-15">


			<ul>
				<li>Angular, JavaScript, jQuery, PHP, Git</li>
				<li>Heroku, Netlify, Freebase</li>
				<li>Writing, Communication, Leadership, Mentoring</li>
				<li>Math, Engineering, Technical skills, Motion dynamics</li>
			</ul>

		</div>

	</div>

	<div class="relative width border-bottom">

		<div class="relative width height-100 font-30 border-bottom">
			
			<div class="absolute width bottom0">
				Project
			</div>
		</div>

		<div class="relative width80 right0 font-20">

			<div class="relative width">

				<div class="relative width font-25">

				</div>

				<div class="relative width font-italic">

				</div>

				<div class="relative width">
					<a href="">http://code.methodswithclass.com</a>
				</div>

				<div class="relative width">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			
			</div>

			<div class="relative width">

				<div class="relative width font-25">

				</div>

				<div class="relative width font-italic">

				</div>

				<div class="relative width">
					<a href="">http://code.methodswithclass.com</a>
				</div>

				<div class="relative width">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			
			</div>

			<div class="relative width">

				<div class="relative width font-25">

				</div>

				<div class="relative width font-italic">

				</div>

				<div class="relative width">
					<a href="">http://code.methodswithclass.com</a>
				</div>

				<div class="relative width">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			
			</div>

			<div class="relative width">

				<div class="relative width font-25">

				</div>

				<div class="relative width font-italic">

				</div>

				<div class="relative width">
					<a href="">http://code.methodswithclass.com</a>
				</div>

				<div class="relative width">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			
			</div>


		</div>


	</div>

	<div class="relative width border-bottom">

		<div class="relative width height-100 font-30 border-bottom">
			<div class="absolute width bottom0">
				Work Summary
			</div>
		</div>

		<div class="relative width80 right0 font-20">

			<div class="relative width">

				<div class="relative width font-25">

				</div>

				<div class="relative width font-italic">

				</div>

				<div class="relative width">
					<a href="">http://code.methodswithclass.com</a>
				</div>

				<div class="relative width">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			
			</div>

			<div class="relative width">

				<div class="relative width font-25">

				</div>

				<div class="relative width font-italic">

				</div>

				<div class="relative width">
					<a href="">http://code.methodswithclass.com</a>
				</div>

				<div class="relative width">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			
			</div>

		</div>

</div>