@charset "UTF-8";
/* CSS Document */

@import url("positioning/positioning.css");
@import url("positioning/layer.css");
@import url("positioning/heights-%.css");
@import url("positioning/heights-px.css");
@import url("positioning/widths-%.css");
@import url("positioning/widths-px.css");
@import url("centering.css");
@import url("scroll.css");
@import url("ui.css");

.deselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noedge {

	padding:0;
	margin:0;
}

#consoleContainer {
	position:absolute;
	bottom:0;
	height:30%;
	width:100%;
	border:1px solid black;
	overflow:hidden;
}

#console {
	position:absolute;
	font-size:15px;
	bottom:0;
}



